{% extends "employee_view.html" %}


{% block type %}

<div class="flex">
    {% if employee_types.name == 'regular' %}
        <div class="form-group mb-3" >
            <label>Leaves</label>
            <div class="col-sm-9">
                <h5 class="card-title mb-2 fw-bold">{{ employees.leaves }}</h5>
            </div>
        </div>
        <div class="form-group mb-3" >
            <label>Benefits</label>
            <div class="col-sm-9">
                <h5 class="card-title mb-2 fw-bold">{{ employees.benefits }}</h5>
            </div>
        </div>
    {% else %}
        <div class="form-group mb-3" >
            <label>Project</label>
            <div class="col-sm-9">
                <h5 class="card-title mb-2 fw-bold">{{ employees.project }}</h5>
            </div>
        </div>
        <div class="form-group mb-3" >
            <label>Contract End</label>
            <div class="col-sm-9">
                <h5 class="card-title mb-2 fw-bold">{{ employees.contract_end }}</h5>
            </div>
        </div>
    {% endif %}
    <button type="button" class="btn btn-primary" onclick="location.href='/employees';">Back to Employee List</button>
</div>
{% endblock %}